<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benefit.mapper.BenefitPackageMapper">

    <resultMap id="BenefitPackageVoMap" type="com.benefit.vo.BenefitPackageVo">
        <id property="id" column="id"/>
        <result property="packageName" column="package_name"/>
        <result property="productName" column="product_name"/>
        <result property="status" column="status"
                javaType="com.benefit.model.enums.Status"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectPackageList" resultMap="BenefitPackageVoMap">
        select * from (
        SELECT
        t1.id,
        t1.package_name,
        t3.product_name,
        t1.status,
        t1.quantity,
        t1.price,
        t1.remark,
        t1.create_time
        FROM benefit_package t1
        LEFT JOIN package_product_rel t2 ON t1.id = t2.package_id
        LEFT JOIN benefit_product t3 ON t2.product_id = t3.id
        <where>
            <if test="request.packageName != null and request.packageName != ''">
                AND t1.package_name LIKE CONCAT('%', #{request.packageName}, '%')
            </if>

            <if test="request.productNames != null and request.productNames.size() >= 0">
                AND (
                <foreach collection="request.productNames" item="name" separator="OR">
                    t3.product_name LIKE CONCAT('%', #{name}, '%')
                </foreach>
                )
            </if>

            <if test="request.status != null">
                AND t1.status = #{request.status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>

            <if test="request.quantity != null">
                AND t1.quantity = #{request.quantity}
            </if>

            <if test="request.price != null">
                AND t1.price = #{request.price}
            </if>

            <if test="request.remark != null">
                AND t1.remark = #{request.remark}
            </if>

            <if test="request.createTime != null">
                AND DATE(t1.create_time) = DATE(#{request.createTime})
            </if>
        </where>
        ORDER BY t1.create_time DESC
        ) tmp
    </select>

    <select id="selectOneByIdAndStatus" resultMap="BenefitPackageVoMap">
        select *
        from benefit_package
        <where>

            <if test="status != null">
                AND status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>

            <if test="id != null">
                AND id = #{id}
            </if>

        </where>
    </select>
</mapper>